<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/ValariumIcon.png" />
        <span id="welcomeHeader">BIENVENUE SUR VALARIUM</span>
        <span id="welcomeDescription">Bienvenue à toi humble joueur, tu t'apprêtes à entrer dans un serveur du nom de
            Valarium. Je te laisse le soin de découvrir par toi-même toutes les petites spécificités de ce pvp-faction
            créé de toutes pièces par les membres du staff. Si tu as la moindre question ou un problème à résoudre, une
            équipe de modération est là pour y remédier in game comme sur notre Discord. Tu peux aussi trouver plein
            d'infos utiles ainsi qu'un forum sur notre site internet. Le staff de Valarium te souhaite un agréable
            moment en jeu. À tout de suite !</span>
        <br>
        <span id="welcomeDescCTA">Vous n'êtes plus qu'à quelques clicks de Valarium...</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>
                            .arrowLine {
                                fill: none;
                                stroke: #FFF;
                                stroke-width: 2px;
                                transition: 0.25s ease;
                            }
                        </style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02" />
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>